<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1; background-color: #F3F3F3;">
            <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;padding: 48px;">
                <div class="formbg-outer">
                    <div class="formbg">
                        <div class="formbg-inner padding-horizontal--48">
                            <span class="padding-bottom--15">Password Reset</span>
                            <form id="stripe-login" method="POST">
                                {% csrf_token %}
                                <div class="field padding-bottom--24">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" required>
                                </div>

                                <div class="field padding-bottom--24 padding-top--24">
                                    <input type="submit" name="submit" value="Send Email">
                                </div>

                            </form>
                            <div class="footer-link padding-top--24">
                                <span> <a href="{% url 'login' %}">Remember the password</a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>